@media screen and (min-width:1050px) {
    .text{
        height: 460px;
        background-image: url(Img/main.jpg);
        background-size: 100% auto;
        width:950px;
        height:460px;
        margin:10px auto 0 auto;
        border-radius: 5px;
    }
    .download{
        right:110px;
    }
    .text h1,.text h6{
        right:100px;
    }
    .text h1{
        font-size: 50px;
    }
    .text h6{
        top:200px;
    }
    .news{
        width:950px;
        height:400px;
    }
    .news_main{
        height: 400px;
        width: 550px;
        position:absolute;
    }
    .news2,.news3{
        width:395px;
        position: absolute;
        right:0;
        height:197px;
        border-radius: 5px;
        background-color: #fff;
    }
    .news3{
        bottom: 0;
    }
}

@media screen and (min-width:960px) and (max-width:1049px){
    .download{
        right:110px;
    }
    .text h1,.text h6{
        right:100px;
    }
    .text h6{
        top:200px;
    }
    .text h1{
        font-size: 50px;
    }
    .text{
        height: 460px;
        background-image: url(Img/main.jpg);
        background-size: 100% auto;
        width:90vw;
        margin:10px auto 0 auto;
        border-radius: 5px;
    }
    .news{
        width:90vw;
        height:400px;
    }
    .news_main{
        height: 400px;
        position:absolute;
        width: 55vw;
    }
    .news2,.news3{
        width:34vw;
        position: absolute;
        right:0;
        height:197px;
        border-radius: 5px;
        background-color: #fff;
    }
    .news3{
        bottom: 0;
    }
}

@media screen and (max-width:959px) {
    .download{
        left: 50%;
        transform: translateX(-50%) translateY(50px);
    }
    .text{
        height: 400px;
        background-image: url(Img/main.jpg);
    }
    .text h1,.text h6{
        text-align: center;
        left:50%;
        transform: translateX(-50%);
    }
    .text h1{
        font-size: 30px;
    }
    .text h6{
        top:300px;
    }
    .news{
        width:95vw;
        height: 750px;
    }
    .news_main,.news2,.news3{
        position:relative;
        display: block;
        border-radius: 5px;
        height: 250px;
        width:95vw;
        background-color: #fff;
        margin-top:6px;
    }
}
.text{
    position: relative;
}
.text h1,.download{
    position: absolute;
}
.text h1{
    text-shadow: 1px 1px 1px#fff;
    word-break: break-all;
    top:100px;
}
.text h6{
    position: absolute;
    text-shadow: 1px 1px 1px #fff;
    font-size: 10px;
}
.download{
    top:290px;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background-color: RGB(38,124,206);
}
.download p{
    line-height: 50px;
    text-align: center;
    margin: 0;
    font-size: 15px;
    color: #fff;
}
.download:hover{
    background-color: RGB(47,95,170);
    transition: 1s;
}
.news{
    position: relative;
    margin:20px auto 0 auto;
}
.footer{
    position:relative;
    bottom:-5vh;
    width:100vw;
    height: 300px;
    background-color: rgb(20,20,20);
}
.news_main{
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #fff; */
}
.more_news p{
    margin:0;
    color: #fff;
    text-align: end;
    transition: 0.5s;
}
.more_news{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    top:102%;
}
.inner_news{
    position: absolute;
    bottom:0;
    height:30%;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: RGBA(2,2,2,0.8);
}
.inner_news h4,.inner_news h6{
    transform: translate(30px,10px);
    color:#fff;
    margin: 0;
}
.more_news p:hover{
    color:RGB(49,193,234);
}
.news2,.news3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}