@media screen and (min-width:960px) {
    .wrap{
        width:1000px;
    }
    .Main_Part li{
        width: 610px;
        height: 250px;
    }
    .datetitle{
        width: 280px;
        height: 40px;
    }
    .datetitle h3,.datetitle h5{
        margin:0;
        color:#fff;
        text-align: center;
    }
    .datetitle h5{
        color: RGB(83,255,255);
    }
    .News_Title{
        width: 950px;
        margin: 10px auto;
        height: 50px;
        background-image: url(Img/REPORT.png);
        transform: scale(1.1);
        background-size: cover;
        background-position: center;
    }
    .Main_Part li{
        width: 570px;
        height: 270px;
    }
    .Left_Nav{
        width:300px;
        margin: 0;
    }
    .News_wrap{
        width: 950px;
        margin:10px 0;
    }
}

@media screen and (max-width:959px) {
    .wrap{
        width:95vw;
    }
    .Main_Part li{
        width: 100%;
        height: 200px;
    }
    .News_Title,.Left_Nav{
        display: none;
    }
    .Main_Part li{
        width: 95vw;
        height: 250px;
    }
    .News_wrap{
        width: 100vw;
    }
}

.Main_Part{
    padding: 0;
    margin: 0;
}
.News_Title h2{
    color:#fff;
    filter: blur(0.5px);
}
.Main_Part li{
    margin: 50px 40px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 8px 25px;
    border-image: url(Img/rectangle.png) 1 1 fill round;
    border-image-outset: 6 2.8;
}
.News_wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    left:50%;
    transform: translateX(-50%);
}
.newsdates{
    position: relative;
    margin: 10px;
    padding: 0;
}
.newsdates li{
    height: 30px;
    margin: 10px 0;
}
.newsdates p{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    line-height: 30px;
    color:whitesmoke;
}
.newsdates p:hover{
    color:#fff;
}
.newsdates p::before{
    position: absolute;
    display: block;
    left:-30px;
    top:5px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url(Img/block.png);
    background-size: cover;
}
.pagenews{
    width: 950px;
    height: 30px;
    margin: 0 auto;
    background-color: RGB(20,20,20);
}
.morebtn{
    margin:5px auto;
    width: 80px;
    height:23px;
    border-radius: 20px;
    background-color: #999;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 23px;
}
.innerli{
    width: 100%;
    height: 40%;
    transform: translateY(150%);
    text-shadow: 1px 1px 5px #fff;
}
.innerli h4{
    display: block;
    font-size: 20px;
    margin-left: 20px;
    transform: translateY(30px);
}
.innerli h6{
    display: block;
    font-size: 10px;
    margin-left: 20px;
    transform: translateY(40px);
}
.NewsMonth0 input{
    width:25%;
    height:20px;
    background-color: RGBA(0,0,0,0);
    color:RGB(20,20,20);
    border-radius: 15px;
    color:#ddd;
    border:1px solid RGB(83,255,255);
}
.NewsMonth0{
    display: flex;
    justify-content: space-around;
}